{
  "auth-test-1779953326166@tripnest.local": {
    "id": "F2spCBlcuax0RCCftg13hc8b",
    "email": "auth-test-1779953326166@tripnest.local",
    "name": "Tester",
    "passwordHash": "75K3eLr-dx6JJFuJ7LwIpEpOFmwGZZkRiB84PURz6U8"
  }
}